    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <!-- 作者信息 -->
    <meta name="author" content="Kwan Wai-Pang" />

    <!-- 网页描述 -->
    <!-- {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" /> -->
    <meta name="description" content="Personal Blog of Kwan Wai-Pang" />
    <meta property="og:description" content="Welcome 😊{% if page.title %} {{ page.title }}{% endif %}" />

    <!-- OpenGraph 元数据 -->
    <meta property="og:site_name" content="My Technology Blog" />
    <meta property="og:type" content="website" />
    {% if page.title %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="twitter:title" content="{{ page.title }}" />
    {% else %}
        <meta property="og:title" content="Kwan Wai-Pang | Personal Blog" />
        <meta property="twitter:title" content="Kwan Wai-Pang | Personal Blog" />
    {% endif %}

    <!-- <meta property="og:image" content="https://kwanwaipang.github.io/Poster_files/hku_logo.jpg" /> -->
    <meta property="og:image" content="{{ site.favicon }}" />
    

    <!-- OpenGraph 协议 中的一个元标签，用于指定网页内容的默认语言 -->
    <meta property="og:locale" content="en" />
