<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">

      <!-- config.yml 中插入的图片 -->
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 

      <!-- 交互地球仪 (globe.gl) -->
      {% if site.sidebar_globe %}
        {% include globe.html %}
      {% endif %}
      
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  {% if site.visitor_map %}
  <div class="visitor-map">
    <a href="{{ site.visitor_map_link }}" title="Visit tracker">
      <img src="{{ site.visitor_map }}" alt="Visitor map" />
    </a>
  </div>
  {% endif %}

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>