.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 999;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
  
    a {
      display: block;
      width: 40px;
      height: 40px;
      background: #2196F3;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -25%);
        width: 12px;
        height: 12px;
        border-left: 2px solid white;
        border-top: 2px solid white;
        transform: translate(-50%, -50%) rotate(45deg);
      }
  
      &:hover {
        background: #1976D2;
      }
    }
  }
  
  .back-to-top-show {
    visibility: visible;
    opacity: 0.8;
    
    &:hover {
      opacity: 1;
    }
  }